# Database
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0


AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
SENDER_EMAIL=
RECIPIENT_EMAIL=
CC_EMAIL=
SENDER_NAME=""
RECIPIENT_NAME=""